{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block head_scripts %}
<script>

    var current_qs_count = 1;

    function count_questions() {
      current_qs_count = $("#questions_block").children().length;
    }


    function iterate_through_questions() {
      count_questions();
      var questions = $("#questions_block").children();
      for (let i = 0; i < current_qs_count; i++){
        console.log(questions[i]);
        $(questions[i]).find(("[name='sn']")).html(i + 1);
      }
    }

    function hide_delete_if_only_qs() {
      if (current_qs_count == 1){
        $("#questions_block").find(".delete-question").hide();
      }
      else if (current_qs_count > 1){
        $("#questions_block").find(".delete-question").show();
      } 
    }

    function add_question() {
        var new_question = $("#qs_proto").clone(true, true);
        $("#questions_block").append(new_question);
        count_questions();
        hide_delete_if_only_qs();
        iterate_through_questions();
    };

    $(document).ready( function(){
      hide_delete_if_only_qs();
    })


</script>
{% endblock %}

{% block main %}
<div class="container text-center" style="margin-bottom: 3%;">
    <h1>Create Qui-ez</h1>
</div>

<div class="container text-center" style="align-content: center; max-width: 60%;">
    <form action="/create" method="post"></form>
      <div class="question-name container" style="margin-bottom: 5%;">
        <h2>Qui-ez Name</h2>
        <input name="quiz_name" type="text" class="form-control" id="quiz_name" placeholder="Quiz Name" value="" required>
      </div>

      <hr>

      <div class="container" style="margin-bottom: 5%;">
        <h2>Questions</h2>
      </div>

      <!-- Questions Block -->
      <div id="questions_block" class="row g-3 my-4">
        <div class="question-div container my-3" id="qs_proto">
          <div class="question-header row">
            <div class="col-md-1 border border-primary"><h1 name="sn">1</h1></div>
            <div class="col-md-11 border border-primary">
              <input name="qs_text" type="text" class="form-control question_question no-border" placeholder="Question Here" value="" required>
            </div>
          </div>

          <div class="question-answers row border border-primary py-3">
            <div class="col-md-3">
              <textarea name="ans0" type="text" class="form-control question_answer border-success" rows="1" placeholder="Correct Answer Here" value="" required></textarea>
            </div>
            <div class="col-md-3">
              <textarea name="ans1" type="text" class="form-control question_answer border-danger" rows="1" placeholder="Wrong Answer 1" value="" required></textarea>
            </div>
            <div class="col-md-3">
              <textarea name="ans2" type="text" class="form-control question_answer border-danger" rows="1" placeholder="Wrong Answer 2" value="" required></textarea>
            </div>
            <div class="col-md-3">
              <textarea name="ans3" type="text" class="form-control question_answer border-danger" rows="1" placeholder="Wrong Answer 3" value="" required></textarea>
            </div>
          </div>

          <div class="delete-question row">
            <div class="col border border-primary">
              <button type="button" class="btn btn-danger my-3"> Delete Question</button>
            </div>
          </div>

        </div>
      </div>

      <button class="w-35 btn btn-info btn-lg my-4" type="button" onclick="add_question()">Add Question</button>

      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg my-4" type="submit">Create Qui-ez</button>
    </form>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}