{% extends "layout.html" %}

{% block title %}
    Do Qui-ez
{% endblock %}

{% block head_scripts %}
<script>

    function populate_questions() {
        var quiz_dict = {{ quiz_dict | safe }};
        var answer_shuffled = ["ans0", "ans1", "ans2", "ans3"];

        for (let i = 0; i < {{ number_of_questions }}; i++) {
            var question_label = 'q' + i;
            
            if (i == 0) {
              var question_div = $("#q0");
              $("#q0").find(".qs-text").html(quiz_dict["q0"]["qs_text"]);
              $("#q0").find(".sn").html(1);
            }

            else {
              var question_div = $("#q0").clone(true, true);
              question_div.attr("id", question_label);
              question_div.find(".qs-text").html(quiz_dict[question_label]["qs_text"]);
              question_div.find(".sn").html(i+1);
              question_div.find(".question-answers").html("");
              $("#questions_block").append(question_div);
            }

            shuffle(answer_shuffled);
            

            for (let j = 0; j < 4; j++) {
              var answer_value = quiz_dict[question_label][answer_shuffled[j]];
              var answer_div = $('<div class="my-1"></div>');

              var answer_button = $('<input type="radio" class="mx-4" required>');
              answer_button.attr("name", question_label+'ans');
              answer_button.val(answer_value);
              
              var answer_button_label = $('<label></label>');
              answer_button_label.html(answer_value);

              answer_div.append(answer_button);
              answer_div.append(answer_button_label);

              $("#"+question_label).find(".question-answers").append(answer_div);
              $("#"+question_label).find(".question-answers").append("<br>");
            }
        }
    }

  function shuffle(array) {
      let currentIndex = array.length;

      // While there remain elements to shuffle...
      while (currentIndex != 0) {

      // Pick a remaining element...
      let randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex--;

      // And swap it with the current element.
      [array[currentIndex], array[randomIndex]] = [
        array[randomIndex], array[currentIndex]];
  }
}


    $(document).ready( function(){
        populate_questions();
    })

</script>
{% endblock %}

{% block main %}
<div class="container text-center" style="margin-bottom: 3%;">
    <h1>Create Qui-ez</h1>
</div>

<div class="container text-center" style="align-content: center; max-width: 60%;">
    <form action="/submit_answers" method="post">
      <div class="question-name container" style="margin-bottom: 5%;">
        <h2>Qui-ez Name: {{ quiz_name }}</h2>
        <input type="text" name="quiz_code" value="{{ quiz_code_input }}" style="visibility: hidden;">
      </div>

      <hr>

      <div class="container" style="margin-bottom: 5%;">
        <h2>Questions</h2>
      </div>

      <!-- Questions Block -->
      <div id="questions_block" class="row g-3 my-4">
        <div class="question-div container my-3" id="q0">
          <div class="question-header row">
            <div class="col-md-1 border border-primary"><h1 class="sn">1</h1></div>
            <div class="col-md-11 border border-primary">
              <p name="q0qstext" class="qs-text"></p>
            </div>
          </div>

          <div class="question-answers row border border-primary py-3">
          </div>
        
        </div>
      </div>

      <hr class="my-4">

      <input class="w-100 btn btn-primary btn-lg my-4" type="submit" value="Submit Answers">
    </form>
  </div>
{% endblock %}

{% block footer_scripts %}
{% endblock %}