h1, h2{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.parent {
    margin: 1rem;
    text-align: center;
  }

.child {
    display: inline-block;
    vertical-align: middle;
}

.form-label {
    font-weight: 700;
}

.question_answer {
    font-size: x-small;
}

.no-border, .no-border:focus{
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}